SOAP-Afternoon/SOAP/AU_ASIGNMENT/SOAP_assignments/WebContent/wsdl/StudentServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://impl.service.accolite.soap.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://impl.service.accolite.soap.com" xmlns:intf="http://impl.service.accolite.soap.com" xmlns:tns1="http://model.accolite.soap.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://impl.service.accolite.soap.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.accolite.soap.com"/>
   <element name="deleteStudent">
    <complexType>
     <sequence>
      <element name="rollno" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteStudentResponse">
    <complexType>
     <sequence>
      <element name="deleteStudentReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllStudents">
    <complexType/>
   </element>
   <element name="getAllStudentsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllStudentsReturn" type="tns1:Student"/>
     </sequence>
    </complexType>
   </element>
   <element name="addStudent">
    <complexType>
     <sequence>
      <element name="s" type="tns1:Student"/>
     </sequence>
    </complexType>
   </element>
   <element name="addStudentResponse">
    <complexType>
     <sequence>
      <element name="addStudentReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStudent">
    <complexType>
     <sequence>
      <element name="rollno" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStudentResponse">
    <complexType>
     <sequence>
      <element name="getStudentReturn" type="tns1:Student"/>
     </sequence>
    </complexType>
   </element>
   <element name="changeAge">
    <complexType>
     <sequence>
      <element name="rollno" type="xsd:int"/>
      <element name="age" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="changeAgeResponse">
    <complexType>
     <sequence>
      <element name="changeAgeReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.accolite.soap.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Student">
    <sequence>
     <element name="age" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="rollno" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="changeAgeResponse">

      <wsdl:part element="impl:changeAgeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllStudentsResponse">

      <wsdl:part element="impl:getAllStudentsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addStudentRequest">

      <wsdl:part element="impl:addStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addStudentResponse">

      <wsdl:part element="impl:addStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteStudentRequest">

      <wsdl:part element="impl:deleteStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteStudentResponse">

      <wsdl:part element="impl:deleteStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllStudentsRequest">

      <wsdl:part element="impl:getAllStudents" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStudentRequest">

      <wsdl:part element="impl:getStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="changeAgeRequest">

      <wsdl:part element="impl:changeAge" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStudentResponse">

      <wsdl:part element="impl:getStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="StudentServiceImpl">

      <wsdl:operation name="deleteStudent">

         <wsdl:input message="impl:deleteStudentRequest" name="deleteStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteStudentResponse" name="deleteStudentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllStudents">

         <wsdl:input message="impl:getAllStudentsRequest" name="getAllStudentsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllStudentsResponse" name="getAllStudentsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addStudent">

         <wsdl:input message="impl:addStudentRequest" name="addStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:addStudentResponse" name="addStudentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getStudent">

         <wsdl:input message="impl:getStudentRequest" name="getStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:getStudentResponse" name="getStudentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="changeAge">

         <wsdl:input message="impl:changeAgeRequest" name="changeAgeRequest">

       </wsdl:input>

         <wsdl:output message="impl:changeAgeResponse" name="changeAgeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StudentServiceImplSoapBinding" type="impl:StudentServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="deleteStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllStudents">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllStudentsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllStudentsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="changeAge">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="changeAgeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="changeAgeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StudentServiceImplService">

      <wsdl:port binding="impl:StudentServiceImplSoapBinding" name="StudentServiceImpl">

         <wsdlsoap:address location="http://localhost:9090/SOAP_assignments/services/StudentServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
